
.detailWrapper {
    display: flex;
}

.profileAvatar {
    margin-right: 20px;
}

.detailItem{
    display: flex;
    margin: 10px 0;
}

.detailItemLabel {
    composes: detailItemLabel from './detail.css';
    flex-shrink: 0;
}

.detailValueLabel {
    composes: detailValueLabel from './detail.css';
    width: 200px;
}